<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

	<mat-form-field>
		<mat-label>Nome do evento</mat-label>
		<input matInput placeholder="Informe o nome do evento" [(ngModel)]="evento.nome"
    name="nome" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data inicial</mat-label>
    <input matInput [matDatepicker]="dataInicial" name="data_inicial"
      [(ngModel)]="evento.data_inicial" placeholder="Informe a data inicial"
      required>
    <mat-datepicker-toggle matSuffix [for]="dataInicial"></mat-datepicker-toggle>
    <mat-datepicker #dataInicial></mat-datepicker>
  </mat-form-field> 

  <mat-form-field>
    <mat-label>Data Final</mat-label>
    <input matInput [matDatepicker]="dataFinal" name="data_final"
      [(ngModel)]="evento.data_final" placeholder="Informe a data final"
      required>
    <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
    <mat-datepicker #dataFinal></mat-datepicker>
  </mat-form-field> 

  <mat-form-field>
	  <mat-label>Setor</mat-label>
		<mat-select [(ngModel)]="evento.setor" name="setor" required>
      <mat-option *ngFor="let setor of setores" [value]="setor._id">
        {{ setor.nome }}
      </mat-option>
    </mat-select>
	</mat-form-field> 

  <mat-form-field>
	  <mat-label>Subsetor</mat-label>
		<mat-select [(ngModel)]="evento.subsetor" name="subsetor" required>
      <mat-option *ngFor="let subsetor of subsetores" [value]="subsetor._id">
        {{ subsetor.nome }}
      </mat-option>
    </mat-select>
	</mat-form-field> 
  
  <mat-form-field>
	  <mat-label>Tipo</mat-label>
		<mat-select [(ngModel)]="evento.tipo" name="tipo" required>
      <mat-option *ngFor="let tipo of tipos" [value]="tipo.val">
        {{ tipo.descr }}
      </mat-option>
    </mat-select>
	</mat-form-field> 

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>  

</form>
