<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

    <mat-form-field>
	  <mat-label>Setor</mat-label>
		<mat-select [(ngModel)]="subsetor.setor" name="setor" required>
            <mat-option *ngFor="let setor of setores" [value]="setor._id">
            {{ setor.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field> 

	<mat-form-field>
		<mat-label>Nome do subsetor</mat-label>
		<input matInput placeholder="Informe o nome do subsetor" [(ngModel)]="subsetor.nome"
        name="nome" required>
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
        <button mat-raised-button type="submit" color="accent">
            Salvar
        </button>
        <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
        </button>
        </mat-toolbar-row>
    </mat-toolbar>  

</form>
